body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

#main_container{
    width: 600px;
    margin: 150px auto;

}

#footer{
    font-weight: bold;
    background-color: orange;
}


table{
    width: 50%;
    background-color: lightblue;
    text-align: center;
    border-bottom: 2px black;
    border-collapse: collapse ;
}

th, td{
    padding: 20px;
    border: solid 1px black;
    border-radius: 5px;
}

thead{
    background-color: orange;
}

tr:nth-child(even){
    background-color: blue;
}

tr:hover td{
    background-color: aquamarine;
}

h2{
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}

h1{
    color: crimson;
    font-family: cursive;
    font-weight: bold;
}






